@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@font-face {
  font-family: 'BMDOHYEON';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.dohyun{
  font-family: 'BMDOHYEON';
}
.minsans{
  font-family: 'MinSans-Medium';
}

html,
body {
  font-family: 'Noto Sans KR', sans-serif;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0 auto;
}

.header{
  box-shadow: 0 1px 10px -6px rgb(0 0 0 / 42%), 0 1px 10px 0 rgb(0 0 0 / 12%), 0 4px 5px -2px rgb(0 0 0 / 10%);
}

.mobile-menu-btn>span{
  transition: 0.3s ease;
}


.mobile-menu-btn:hover >span:nth-child(1), .mobile-menu-btn:hover >span:nth-child(3){
  width: 70%;
} 
.mobile-menu-btn:hover >span:nth-child(2){
  width: 100%;
}
.mobile-menu-btn.active>span:nth-child(1){
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(40deg);
  width: 110% !important;
}
.mobile-menu-btn.active>span:nth-child(2){
  width: 0% !important;
}
.mobile-menu-btn.active>span:nth-child(3){
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(135deg);
  width: 110% !important;
}


.main-wrap{
  box-shadow: 0 16px 24px 2px rgb(0 0 0 / 14%), 0 6px 30px 5px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
}

.category-list-wrap{
    display: grid;
    grid-template-columns: repeat(4, 260px);
    justify-content: center;
    justify-items: center;
    -webkit-box-pack: center;
    gap: 30px;
}

.category-list-wrap img{
  box-shadow: rgba(141, 141, 141, 0.815) 0px 2px 8px 0px;
}

@media screen and (max-width: 1280px) {
  .category-list-wrap{
    display: grid;
    grid-template-columns: repeat(3, 280px);
    gap: 40px;
    justify-content: space-between;
  }
  .item-img-wrap{
    width: 280px;
    height: 280px;
  }
}

@media screen and (max-width: 1024px) {
  .category-list-wrap{
    grid-template-columns: repeat(3, 230px);
    gap: 50px 0;
  }
  .item-img-wrap{
    width: 230px;
    height: 230px;
  }
}

@media screen and (max-width: 800px) {
  .category-list-wrap{
    grid-template-columns: repeat(2, 270px);
    gap: 30px;
    justify-content: space-evenly;
  }
  .item-img-wrap{
    width: 270px;
    height: 270px;
  }
}

@media screen and (max-width: 640px) {
  .category-list-wrap{
    grid-template-columns: repeat(2, 230px);
    gap: 20px;
    justify-content: space-around;
  }
  .item-img-wrap{
    width: 230px;
    height: 230px;
  }
}
@media screen and (max-width: 520px) {
  .category-list-wrap{
    grid-template-columns: repeat(2, 200px);
    gap: 20px;
    justify-content: space-evenly;
  }
  .item-img-wrap{
    width: 200px;
    height: 200px;
  }
}
@media screen and (max-width: 440px) {
  .category-list-wrap{
    grid-template-columns: repeat(1, calc(100vw - 4rem));
    gap: 30px;
    justify-content: center;
  }
  .item-img-wrap{
    width: calc(100vw - 4rem);
    height: calc(100vw - 4rem);
  }
}

.rocket-buy-btn:hover .hoverEffect, .buy-btn:hover .hoverEffect{
  top: 0;
}

.modal-wrap{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.twoline{
  display: -webkit-box;
  overflow-wrap: break-word;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.keyword-btn::after{
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  border: 1px solid #555555;
  border-radius: 4px;
  transition: 0.1s ease;
}
.tag-btn::after{
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  border: 1px solid #555555;
  border-radius: 4px;
  transition: 0.1s ease;
}
.tag-btn:hover ::after{
  border: 1px solid #22C55E;
}

.selected{ color:#22C55E; }
.selected::after{
  border: 2px solid #22C55E;
}

.cp{ position: relative; }
.cp::after{
  content: '';
  position: absolute;
  top: 45%; left: 3px;
  transform: translate(0, -50%);
  width: 5px; height: 5px;
  border-radius: 50%;
  background: #fff;
}

.grid-item{
  animation: showItem 0.4s ease backwards;
}

@keyframes showItem {
  0%{
    opacity: 0;
    transform: translateY(30px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}

.monitorArm:hover .monitorArm-bar{
  background-color: #000;
}

.main-wrap img{
  width: 100%;
  margin: 0;
}

.hoverRocket{
  position: absolute;
  top: 150%; right: 150px;
  transform: translate(0, -50%) rotate(120deg);
  transition: 0.3s ease;
  z-index: 900;
}

.rocket-buy-btn:hover .hoverRocket{
  top: 50%;
  right: 30px !important;
  transform: translate(0, -50%) rotate(0deg);
}